<!DOCTYPE html>
<html>
<head>
<title>User Management</title>
</head>
<body>

<img src="download.jfif">

<p><a href="{%url 'Admin'%}">HOME</a></p>

<h1>Welcome to Administrator mode</h1>

<img src="download2.jfif">

<h2>Choose the Actions</h2>
                   <ul>
                        <li><a href="{%url 'reg'%}">Add User Details</a></li>
                        <li><a href="{%url 'index4'%}">Display Details</a></li>
                        <li><a href="{%url 'ModifyUser'%}">Update User Details</a></li>
                   </ul>
</body>
</html>