<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<img src="download.jfif">

<p><a href="{%url 'Main'%}">HOME</a></p>

<h1>Welcome to Administrator mode</h1>

<img src="download2.jfif">

<h2>Choose the Actions</h2>
                   <ul>
                        <li><a href="{%url 'index1'%}">Add Details</a></li>
                        <li><a href="{%url 'index2'%}">Display and Delete Details</a></li>
						<li><a href="{%url 'ModifyTrain'%}">Modify Details</a></li>
                        <li><a href="{%url 'AdminOpt'%}">User management</a></li>
                   </ul>
</body>
</html>