<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Details</title>
</head>
<body>
<body>
	
	
                <img src="download.jfif">
        		
        			
                    <h2>ENTER TRAIN DETAILS</h2>
                        
                                <form action="train">
                                
                                <p>TRAIN NO.</p>
                                <input type="number" name="tr_no">
                                <p>TRAIN NAME</p>
                                <input type="text" name="tr_name">
                                
                          		<p>Boarding point</p>
                                <input type="text" name="tr_bp">

                                <p>Destination point</p>
                                <input type="text" name="tr_dp">
                                <p>Date of Departure</p>
                                <input type="date" name="tr_dt">
                                
                                <p>Fare</p>
                                <input type="number" name="tr_fare">
                                
                                <p>Number of Seats</p>
                                <input type="number" name="tr_seats">
                                
                               <p> <input type="submit" name="Submit" value="Submit">
                                
                                
                                <input type="reset"></p>
				<p><a href="{%url 'Admin'%}">Back</a></p>
				</form>

</body>
</html>