<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h2>ENTER TRAIN DETAILS</h2>
                        
          	  <form action="">
                                
              <p>TRAIN NO.</p>
              <input type="number" name="tr_no">
              <p>MODIFIED TRAIN NAME</p>
              <input type="text" name="tr_name">
                                
              <p>Modified Boarding point</p>
              <input type="text" name="tr_bp">

              <p>Modified Destination point</p>
           	  <input type="text" name="tr_dp">
              <p>Modified Date of Departure</p>
              <input type="date" name="tr_dt">
                                
              <p>Modified Fare</p>
              <input type="number" name="tr_fare">
                                
              <p>Modified Number of Seats</p>
             <input type="number" name="tr_seats">
                                
             <p> <input type="submit" name="Submit" value="Submit">
                             
             <input type="reset"></p>
             <p><a href="{%url 'Admin'%}">Back</a></p>
             </form>

</body>
</html>