<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form action="">

		<p>NAME</p>
        <input type="text" name="Uname">
         <p>MODIFIED MOBILE NO</p>
         <input type="text" name="Umobile">
                                
          <p>MODIFIED USER NAME</p>
            <input type="text" name="Username">

             <p>MODIFIED PASSWORD(4 digits)</p>
             <input type="text" name="pass">
                                
             <p> <input type="submit" name="Add" value="Modify">
			
			<p><a href="{%url 'index4'%}">Show all users</a></p>
			<p><a href="{%url 'Admin'%}">Back</a></p>

</form>

</body>
</html>