
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

 
<h1>Reserve Details</h1>
<form action="reserve">


		<p>PNR</p>
		<input type="text" name="pnr" value=<%= request.getAttribute("pnr") %> readonly>
		<p>NAME</p>
      	<input type="text" name="name" required>
         <p>Age</p>
         <input type="text" name="age" required>
                             
             <p> <input type="submit" name="Reserve" value="Reserve"></p>
            
      </form>
    


</body>
</html>


