<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<img src="download.jfif">

<p><a href="{%url 'Admin'%}">HOME</a></p>

<h1>Welcome to User mode</h1>

<img src="download1.jfif">
<h2>Choose the Actions</h2>
                   <ul>
                        <li><a href="{%url 'index5'%}">Reserve Ticket</a></li>
                        <li><a href="{%url 'showtickets'%}">Show Tickets</a></li>
                        <li><a href="{%url 'logout'%}">Logout</a></li>
                   </ul>
            
</body>
</html>